/* ********** TITLE ********** */
.titlequizz {
	width: 100%;
	height: 25vw;
	display: flex;
	background-color: #26C1FC;
	box-shadow: 1vw 1vw #3DAAD4;
}
.titlequizz-v {
	align-items: center;
}
.titlequizz-h {
	justify-content: center;
}
.letterquizz {
	font-family: "Baloo 2";
	color: white;
	width: 9%;
    height: 9VW;
    text-align: center;
    font-weight: bold;
    font-size: 7vw;
    margin-bottom: 6vw;
    margin-right: 1.2vw;
    background-color: #BF8FFD;
    box-shadow: 0.9vw 0.9vw #9480AE;
    transition: 0.5s;

}
.letterquizz:hover {
	transform: scale(1.05);
	box-shadow: 0.7vw 0.7vw #9480AE;
	transition: 0.5s;
}
.subtitlequizz {
	position: absolute;
    bottom: 10px;
}
.subtitlequizz h2 {
	font-family: "Baloo 2";
	font-weight: bold;
	color: white;
	font-size: 3.5vw;
	margin-top: 0;
	margin-bottom: 1vw;
}



.titlelanding {
	text-align: center;
}
.titlelanding h1 {
	font-family: "Baloo 2";
    font-weight: bold;
    color: black;
    height: 1px;
    visibility: hidden;
}

strong {
	color: black;
}
.question {
	font-family: "Baloo 2";
	font-weight: bold;
	color: black;
	font-size: 24px;
	margin: 5px;
	line-height: 22px;
}
.listAnswers {
	list-style: none !important;
	padding: 20px;
}
.listAnswers li {
	font-size: 18px;
	margin: 1vw;
}
.listAnswers a {
	font-family: "Baloo 2";
	font-weight: normal;
	color: black !important;
	text-decoration: none !important;
}
.listAnswers a:hover, .listAnswers a:focus {
	cursor: pointer;
	font-weight: bold;
	text-decoration: none !important;
}
.buttonsquiz {
	font-family: "Baloo 2";
	text-align: center;
    margin-top: 4vw;
    display: flex;
    flex-direction: column;
}
.button-align-h {
    justify-content: center;
}
.button-align-v {
    align-items: center;
}
#buttonStart, .btn-quizreset, #buttonNext {
	font-family: "Baloo 2";
	color: white;
    font-weight: bold;
    font-size: 3rem;
	background-color: #BF8FFD;
	border: none;
	border-radius: 10px;
}
#buttonStart:hover, #buttonStart:focus, #buttonStart:active,
#buttonNext:hover, #buttonNext:focus, #buttonNext:active, 
.btn-quizreset:hover, .btn-quizreset:focus, .btn-quizreset:active {	
	color: white !important;
    background-color: #9480AE !important;
    border: none !important;
    outline: none !important;
}
.btn-quizreset {
    margin-top: 2vw;;
}
#buttonNext {
	visibility: hidden;
}
.containerquiz {
	margin: 3vw;
	background-color: #FCFCFC;
}
#turismo-quiz {
	display: none;
    border: 3px solid #BF8FFD;
    border-radius: 10px;
    background-color: #FCFCFC;
	box-shadow: 1vw 1vw #9480AE;
	margin-top: 5vw;
}

.progress {
	border-radius: 25px;
	margin-top: 20px; 
	margin-bottom: 5px !important;
}
.progress-bar-success {
	background-color: #BF8FFD;
}
.quizprogress {
	font-family: "Baloo 2";
	color: black;
	text-align: center;
	font-size: 16px;
}
.quizend {
	margin: 3vw;
}
.quizend h1 {
	font-family: "Baloo 2";
	font-weight: bold;
	color: black;
}
.quizend p {
	font-family: "Baloo 2";
	font-size: 18px;
	color: black;
}
#quizdescrip {
	font-family: "Baloo 2";
	color: black;
	margin-top: 15px;
	font-size: 18px;
	text-align: center;
}