/* ********** TITLE ********** */
.titleemojis {
    width: 100%;
    height: 27vw;
    display: flex;
    background-color: #26C1FC;
    box-shadow: 1vw 1vw #3DAAD4;
}
.titleemojis-v {
    align-items: center;
}
.titleemojis-h {
    justify-content: center;
}
.letteremojis {
    font-family: "Baloo 2";
    color: white;
    width: 12%;
    text-align: center;
    font-weight: bold;
    font-size: 7vw;
    margin-bottom: 9vw;
    margin-right: 1vw;
    background-color: #BF8FFD;
    box-shadow: 0.7vw 0.7vw #9480AE;
    transition: 0.5s;
}
.letteremojis:hover {
    transform: scale(1.05);
    box-shadow: 0.5vw 0.5vw #9480AE;
    transition: 0.5s;
}
.subtitleemojis {
    position: absolute;
    bottom: 10px;
    text-align: center;
}
.subtitleemojis h2 {
    font-family: "Baloo 2";
    font-weight: bold;
    color: white;
    font-size: 4vw;
    margin-top: 0;
    margin-bottom: 0vw;
}
.subtitleemojis h3 {
    font-family: "Baloo 2";
    color: white;
    font-size: 4vw;
    margin-top: 0;
    margin-bottom: 0vw;
}

.turismoemojis-title {
	font-family: "Baloo 2";
	color: black;	
    text-align: center;
    height: 1px;
    visibility: hidden;
}

.titlelanding {
	text-align: center;
}
.titlelanding h1 {
	font-family: "Baloo 2";
    font-weight: bold;
    color: black;
    height: 1px;
    visibility: hidden;
}

.buttonsemojis {
	font-family: "Baloo 2";
	text-align: center;
    margin-top: 4vw;
    display: flex;
    flex-direction: column;
}
.button-align-h {
    justify-content: center;
}
.button-align-v {
    align-items: center;
}
#buttonStart,  #buttonNext, #buttonStart_img,  #buttonNext_img, .btn-emojisreset, .button-collapse {
	font-family: "Baloo 2";
	color: white;
    font-weight: bold;
    font-size: 3rem;
	background-color: #BF8FFD;
	border: none;
	border-radius: 10px;
}
#buttonStart:hover, #buttonStart:focus, #buttonStart:active,
#buttonNext:hover, #buttonNext:focus, #buttonNext:active, 
.btn-emojisreset:hover, .btn-emojisreset:focus, .btn-emojisreset:active,
#buttonStart_img:hover, #buttonStart_img:focus, #buttonStart_img:active,
#buttonNext_img:hover, #buttonNext_img:focus, #buttonNext_img:active, 
.btn-emojisreset_img:hover, .btn-emojisreset_img:focus, .btn-emojisreset_img:active,
.button-collapse:hover, .button-collapse:active, .button-collapse:focus {
	color: white !important;
    background-color: #9480AE !important;
    border: none !important;
    outline: none !important;
}

.button-collapse {
    font-size: 20px;
    border-radius: 5px;
    font-weight: normal;
    padding: 2px 15px 2px 15px;
}
.button-flex {
	margin-top: 25px;
	margin-bottom: 20px;
	display: flex;
	justify-content: center;
}

.question {
	font-family: "Baloo 2";
	font-weight: bold;
	font-size: 24px;
	color: black;
	margin-bottom: 20px;
	text-align: center;
}
.img-emojis {
	width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.listAnswers {
	display: flex;
    justify-content: center;
	flex-wrap: wrap;
	margin-top: 20px;
	list-style: none;
	margin: 0;
	padding: 0;

}
.listAnswers li {
	width: 33%;
	text-align: center;
}
.listAnswers li a {
	cursor: pointer;
	font-family: "Baloo 2";
	font-size: 20px;
	color: black;
	margin-top: 10px;
	text-decoration: none;
}
.listAnswers li a:hover, .listAnswers li a:focus {
	font-weight: bold;
}
@media (max-width: 768px) {
	.listAnswers li {
		width: 100%;
	}
}

.btn-emojisreset {
    margin-top: 2vw;;
}
#buttonNext, #buttonNext_img {
	visibility: hidden;
}
.containeremojis {
	margin: 3vw;
	background-color: #FCFCFC;
}
#turismo-emojis, #turismo-emojis_img {
	display: none;
    border: 3px solid #BF8FFD;
    border-radius: 10px;
    background-color: #FCFCFC;
	box-shadow: 1vw 1vw #9480AE;
	margin-top: 5vw;
}

.progress {
	border-radius: 25px;
	margin-top: 20px; 
	margin-bottom: 5px !important;
}
.progress-bar-success {
	background-color: #BF8FFD;
}
.emojisprogress {
	font-family: "Baloo 2";
	color: black;
	text-align: center;
	font-size: 16px;
}
.emojisend {
	margin: 3vw;
	text-align: center;
}
.emojisend h1 {
	font-family: "Baloo 2";
	font-weight: bold;
	color: black;
}
.emojisend p {
	font-family: "Baloo 2";
	font-size: 18px;
	color: black;
}
#emojisdescrip {
	font-family: "Baloo 2";
	color: black;
	margin-top: 15px;
	font-size: 18px;
	text-align: center;
}

a.url-back {
	font-family: "Baloo 2";
	font-weight: bold;
	padding: 1vw 2vw;
	background-color:#6CD805;
	font-size: 20px;
	color:#ffffff !important;
	border-radius: 5px;
	text-decoration: none !important;
}
a.url-back:hover {
	box-shadow: 0.3vw 0.3vw rgba(0, 0, 0, 0.2);
}