/* ********** TITLE ********** */
.titlepersonajes {
    width: 100%;
    height: 27vw;
    display: flex;
    background-color: #26C1FC;
    box-shadow: 1vw 1vw #3DAAD4;
}
.titlepersonajes-v {
    align-items: center;
}
.titlepersonajes-h {
    justify-content: center;
}
.letterpersonajes {
    font-family: "Baloo 2";
    color: white;
    width: 8.7%;
    text-align: center;
    font-weight: bold;
    font-size: 6vw;
    margin-bottom: 7vw;
    margin-right: 1vw;
    background-color: #FFB525;
    box-shadow: 0.7vw 0.7vw #DDA028;
    transition: 0.5s;
}
.letterpersonajes:hover {
    transform: scale(1.05);
    box-shadow: 0.5vw 0.5vw #DDA028;
    transition: 0.5s;
}
.subtitlepersonajes {
    position: absolute;
    bottom: 10px;
    text-align: center;
}
.subtitlepersonajes h2 {
    font-family: "Baloo 2";
    font-weight: bold;
    color: white;
    font-size: 3.5vw;
    margin-top: 0;
    margin-bottom: 1vw;
}
.subtitlepersonajes h3 {
    font-family: "Baloo 2";
    color: white;
    font-size: 2.3vw;
    margin-top: 0;
    margin-bottom: 0.5vw;
}

.turismopersonajes-title {
	font-family: "Baloo 2";
	color: black;	
    text-align: center;
    height: 1px;
    visibility: hidden;
}

.personajesButtons {
    display: flex;
    justify-content: center;
    margin-top: 3vw;
}
#startMafalda, #stopMafalda, 
#startDonFulgencio, #stopDonFulgencio,
#startLarguirucho, #stopLarguirucho {
	font-family: "Baloo 2";
	color: white;
    font-weight: bold;
    font-size: 3rem;
	background-color: #6CD805;
	border: none;
    border-radius: 10px;
    width: 250px;
}
#stopMafalda, #stopDonFulgencio, #stopLarguirucho {
    display: none;
}
#startMafalda:hover #startMafalda:focus, #startMafalda:active,
#stopMafalda:hover #stopMafalda:focus, #stopMafalda:active,
#startDonFulgencio:hover #startDonFulgencio:focus, #startDonFulgencio:active,
#stopDonFulgencio:hover #stopDonFulgencio:focus, #stopDonFulgencio:active
#startLarguirucho:hover #startLarguirucho:focus, #startLarguirucho:active,
#stopLarguirucho:hover #stopLarguirucho:focus, #stopLarguirucho:active {
	color: white !important;
    background-color: #82AD49 !important;
    border: none !important;
    outline: none !important;
}